.Title {
    box-sizing: border-box;
    font-family: 'Chilanka', cursive;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: #fff;
    
  }